<div>
  <% @users.each do |user| %>
    <div class='user-card'>
      <img src=<%= user.photo %> alt="profile picture" class="user-photo">
      <h2><%= link_to user.name, user, :class => 'user-name' %></h2>
      <p>Number of posts: <%= user.postsCounter.nil? ? 0 : user.postsCounter %></p>
    </div>
  <% end %>
</div>